{% set it = data['People'].__iter__() %}
{% set next = it.__next__() %}


<!DOCTYPE html>
<html>
  <head>
    <title>My People Data</title>

      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/push-to-talk-button.js"></script>
      <script type="text/javascript" src="https://speechly.github.io/browser-ui/v2/big-transcript.js"></script>
      <!-- <script type="text/javascript" src="../style/speech.js"></script> -->
      <link rel="stylesheet" href="../static/style.css">
  
      <script src="{{url_for('static', filename='speech.js')}}"></script>
  
      <link rel="stylesheet" href="https://speechly.github.io/browser-ui/v2/speechly-ui.css">
      <!-- <script src="{{url_for('static', filename='style.css')}}"></script> -->
  



  </head>
  <body id="people">
    <section>
      <h2>About Networker</h2>
      <p>OpenAI has impressed the world with ChatGPT. It is the combination of openai's text prompting algorithm, combined with Google's Speech to Text.

        <h3>Desired Project Outcomes</h3>
        Once the Speech to text funcitonality is flushed out, we'll want to have the following features:
        <ul><li><b>Networking Assistant:</b> Networker will take any data gathered from a conversation you've had and log it, including important details as well as important facts about the person/people you've interacted with, stored in a JSON format in a MongoDB database.
        </li><li>
        <b>Inquiry Assistant:</b> Networker will gather information on you by asking rich, meaningful questions to get to know you, your connections, and help you to inquire more about life, acting as both an assistant and personal coach.
        </li></ul> 
        Github link is <a href="">found here.</a>
        </p></section>

 
    <section>
      <!--for demo wrap-->
      <h1>People</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Name</th>
              
              {% for field in data['People'][next] %}
              <th>{{ field }}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            {% for name, person in data['People'].items() %}
            <tr>
              <td>{{ name }}</td>
              {% for field, value in person.items() %}
              <td>
                {% if (value, list) %}
                {{value}}{{list}}
                {% else %}
                {{ value }}
                {% endif %}
              </td>
              {% endfor %}
            </tr>
         
          </tbody>
              
        {% endfor %}  {# Add this line to close the inner for loop #}
        </table>
      </div>
    </section>
    <a href="/"><h3>Back Home</h3></a>
    
    

  
  
  </body>




</html>